.idea/
.production/
*.iml
.idea/
target/
build/
logs/
.classpath
.project
.settings
*.class
*.swp
*.log
*.map
build.xml
src/main/webapp/WEB-INF/lib/
src/main/webapp/static/js/
src/main/webapp/static/css/
.DS_Store
*.bak
